body {
	margin: 0;
	padding: 0;
	background: #002236 url(../img01.gif) repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #181B20;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	color: #2483A6;
}

h1 {
	font-size: 2em;
	background: linear-gradient( to top,#002236 0%, #C5D4D9 150% )
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
    margin-top: 0;
    line-height: 180%;
    color: #81D2F9;
    text-indent: 0;
    text-shadow: 0px 0px 0px;
}

ul, ol {
}

a {
    text-decoration: none;
    color: #C5D4D9;
    text-shadow: 0px 0px #000000;
    text-transform: none;
}

a:hover {
	text-decoration: underline;
}

img.border {
    border: 6px solid #EEE7DF;
    border-radius: 20px;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
	background: url(../img03.gif) no-repeat center top;
}

/* Header */

#header-wrapper {
	height: 167px;
	background: url(../img02.gif) no-repeat center top;
}

#header {
	width: 960px;
	height: 167px;
	margin: 0 auto;
}

/* Logo */

#logo {
	width: 980px;
	margin: 0px auto;
	padding: 40px 0px 0px 0px;
	color: #FFFFFF;
}

#logo h1, #logo p {
	display: block;
	margin: 0;
	padding: 0;
}

#logo h1 {
	margin: 0px;
	letter-spacing: -1px;
	text-align: center;
	text-transform: uppercase;
	font-size: 54px;
	font-weight: bold;
	color: #FFFFFF;
}

#logo h1 a {
	color: #FFFFFF;
}

#logo p {
	margin-top: -10px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-size: 20px;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}





/* Menu */

#menu-wrapper {
	background: url(../img03.gif) no-repeat center top;
	height: 58px;
}

#menu {
	width: 940px;
	height: 58px;
	margin: 0px auto;
	padding: 0px 20px 0px 20px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	float: left;
	height: 56px;
	margin: 0px;
	padding: 0px 30px 0px 30px;
	line-height: 56px;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #B5B5B5;
	border: none;
}

#menu .current_page_item a {
	color: #FFFFFF;
}

#menu a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

/* Page */

#page {
	background: url(../img05.gif) repeat-y center top;
}

#page-bgtop {
	background: url(../img04.gif) no-repeat center top;
}

#page-bgbtmWORK {
	background: url("../images/assassin.png")
}



.myForm {
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid #37B0EB;
    padding: 2rem;
    display: block;
    border-radius: 15px;
    color: #91E5FF;
	}
	input, textarea{
    display: block;
    width: 100%;
    background-color: #FFFFFF;
	}
#submitBtn {
    border: 0;
    background-color: #37B0EB;
    padding: .5rem;
    color: white;
    margin: 1rem 0;
    width: auto;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
}
#submitBtn:hover {
    background: grey;
    border-radius: 10px;
}



#page-bgbtm {
	overflow: hidden;
	padding: 40px 30px 0px 30px;
	
}

#page-content {
	width: 920px;
	margin: 0px auto;
}

#hide {
    text-align: center;
    font-size: x-large;
    text-indent: 14px;
}

#money {
    color: #C3E9FF;
    border-width: medium;
    border-style: double;
	
}

/* Content */

#content {
	float: left;
	width: 610px;
	padding: 0px 0px 0px 0px;
}

.post {
	clear: both;
	padding-bottom: 10px;
}

.post .title {
	padding-top: 10px;
	letter-spacing: -2px;
}

.post .title a {
	color: #2483A6;
	border: none;
}

.post .meta {
	padding-bottom: 10px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
}

.post .entry {
	text-align: justify;
	margin-bottom: 25px;
	padding: 10px 0px 0px 0px;
}

.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 230px;
	padding: 0px 0px 0px 0px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 15px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar li li a {
	color: #181B20;
}

#sidebar h2 {
	height: 38px;
	margin-bottom: 20px;
	padding: 12px 0 0 15px;
	border-bottom: 1px dashed #B3B0B0;
	letter-spacing: -1px;
	font-size: 24px;
	color: #2483A6;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	width: 960px;
	height: 55px;
	margin: 0px auto 40px auto;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 18px;
	line-height: normal;
	text-align: center;
	color: #576475;
	background: linear-gradient(to bottom,#002236 0%, #C5D4D9 100%  );
}

#footer a {
	color: #576475;
}
